.contact
  text-align center
  margin-bottom 533px

  +below(930px)
    margin-bottom 590px

  +below(780px)
    margin-bottom 645px

  +below(750px)
    margin-bottom 560px

  +below(610px)
    margin-bottom 590px

  +below(450px)
    margin-bottom 0

.biglink
  display inline-block
  font-size 72px
  line-height 1
  width 90%
  margin 40px auto 20px
  font-family 'Fira Sans', sans-serif
  font-size responsive 25px 106px
  color bleck
  transition all 200ms ease-in-out

  &:hover
    color blue