.training-item
  margin-top 30px
  text-align center
  lost-column 1/7 7 0px
  cursor pointer
  opacity 0
  transform translateX(30px)
  transition all 400ms ease-in-out

  &.is-showing
    opacity 1
    transform translateX(0px)

  +below(860px)
    lost-column 1/4

  +below(450px)
    lost-column 1/2

  p
    margin 20px 0
    font-size responsive 14px 18px

.icon
  background-color black
  height 80px
  width @height
  border-radius 50%
  margin 0 auto
  transform scale(1)
  transition all 200ms ease-in-out

  &:hover
    transform scale(1.1)


  svg, g, path, rect, circle
    fill white
    stroke none

