.full-time
  margin-bottom 533px

  .content
    position relative

    p
      max-width 422px
      margin-bottom 30px

    h2
      margin 60px auto 30px

    .globe
      position absolute
      top 120px
      left 483px

    .notebook
      position absolute
      top 90px
      left 717px

    .pencil
      position absolute
      top 60px
      left 694px

