// .full-time

  // +below(368px)
  //   margin-bottom 690px

  // +below(350px)
  //   margin-bottom 720px


  .content
    position relative

    +below(980px)
      padding 0 20px

    p
      max-width 422px
      margin-bottom 30px

    h2
      max-width 300px
      margin 60px 0 30px 0

      +below(750px)
        max-width 100%


    .globe
      position absolute
      top 120px
      left 483px

      +below(530px)
        display none

    .notebook
      position absolute
      top 90px
      left 717px

      +below(770px)
        display none

    .pencil
      position absolute
      top 60px
      left 694px

      +below(750px)
        display none

