header
  // overflow hidden // added for pseudo-element
  position relative // added for pseudo-element


.header-image

  &::before
    content ''
    position fixed // instead of background-attachment
    left 0
    transform translateZ(0) // removes jank caused by fixed position
    background url(img/hero2.jpg) no-repeat center 40%
    background-color black
    background-size cover
    width 100%
    height 100%
    overflow hidden
    will-change transform // creates a new paint layer
    z-index -1




.navbar
  background-color #231f20
  lost-utility clearfix


.logo
  float left
  margin-left 20px

  img
    background-color blue
    border none
    border-radius 50%
    height 20px
    margin-right 15px
    width @height



  h3
    color white
    display inline-block
    letter-spacing 1px
    line-height 64px
    margin 0
    text-transform uppercase

.navbar-links
  display flex
  float right
  justify-content flex-end

  li
    list-style none

    a
      color white
      padding 20px

      &:hover
        text-decoration underline

.lead
  color white
  text-align center

  h1
    font-size responsive 56px 100px
    margin-bottom 30px
    text-transform uppercase
    letter-spacing 1px

  p
    font-family 'Fira Sans', sans-serif
    max-width 600px
    padding 0 40px
    margin 0 auto

    +below(1140px)
      max-width 500px

    +below(640px)
      max-width 400px

  .cta
    margin 30px auto 70px




// Side menu styles



.menu
  // overflow hidden
  position relative
  right 0

.menu-side
  background-color #333
  border-right 1px solid black
  color #fff
  position fixed
  transform translateZ(0)
  top 0
  right -231px
  width 210px
  height 100%
  padding 50px 10px

  a
    display block
    font-size 18px
    padding 20px
    color #a7a9ab
    transform translateX(0px)
    transition all 150ms ease-in-out

    &:hover
      color white
      transform translateX(5px)

#menu-toggle
  color white
  display block
  text-align right
  font-size 25px
  margin-right 20px
  line-height 64px
  display none


.menu-open
  right 231px

  .menu-side
    right 0

.menu, .menu-side
  transition all 200ms ease-in-quad



@media screen and (max-width: 860px)
  #menu-toggle
    display block

  ul.navbar-links
    display none


