button, .cta
  background blue
  border none
  border-radius 3px
  bottom 0px
  box-shadow 5px 5px 0px lighten(blue, 30%)
  color white
  cursor pointer
  font-family 'Fira Sans'
  font-weight 700
  font-size 18px
  letter-spacing .1em
  padding 20px
  position relative
  left 0
  right 0
  top 0px
  transition all 250ms

  &:hover
    background darken(blue, 13%)

  &:active
    box-shadow 0px 0px 0px lighten(blue, 30%)
    left 5px
    top 5px

  &:focus
    outline none