section
  padding-bottom 80px
  background-color white
  overflow hidden

.content
  lost-center 980px

.dark
  background-color #ebebeb

.section-name
  font-family 'Fira Sans', sans-serif
  font-weight 400
  margin 60px auto 20px
  text-align center

.hidden
  display none

.responsive
  font-size responsive 16px 22px